# Byte-compile / optimized / DLL files
.git/
local/
.idea/**/*.*
.idea/*.*
.idea/
__pycache__/
*.py[cod]
.vscode
.databricks

cache/


**/~*.*
**/*.csv
**/*.pkl
**/*.pptx
**/*.exe
**/*.zip
**/.ipynb_checkpoints
**/*.db
**/*.xls
**/*.png

!static/csv/stock_list/*.csv
!Seeking_Alpha/data_input/*.csv
!Seeking_Alpha/Images/*.png
